.label {
    background: white;
    -fx-background-color: rgb(255, 245, 139);
    -fx-background-radius: 5;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: black;
    -fx-font-weight: semi-bold;
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-background-insets: 0px 7px 0px 7px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: ladder(background, white 49%, black 50%);
}

.reply-label {
    background: white;
    -fx-background-color: rgb(242, 157, 37);
    -fx-background-radius: 5;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: black;
    -fx-font-weight: semi-bold;
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-background-insets: 0px 7px 0px 7px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: ladder(background, white 49%, black 50%);
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

