.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    /* -fx-background-color: main-color; */
    -fx-background-image: url("../images/bg.jpg"); 
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: #fed330;
    -fx-font: 14px "Arial";
}

.send-button {
    -fx-background-color: #F2811D;
    -fx-border-color: #F2F2F2;
    -fx-border-width: 5;
    -fx-border-radius: 50;
    -fx-background-radius: 55;
    -fx-font-size: "Arial Bold" 14px; 
}

.send-button:hover {
    -fx-background-color:#ffa85c;
    -fx-font-size: 14.5px;
}

.send-button:pressed {
    -fx-background-color:orange;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #F2811D;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #F2811D;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

