.root {
    main-color: rgb(237, 255, 242);  
    -fx-background-image: url("../images/bg.jpg"); 
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #F2F2F2;
    -fx-border-width: 5;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    
}

.input-bar {
    -fx-background-color: "#fed330";
    -fx-padding: 10 15 10 15;
}

.send-button {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #F2F2F2;
    -fx-border-width: 5;
    -fx-border-radius: 50;
    -fx-background-radius: 55;
    -fx-font-size: "Arial Bold" 14px; 
}

.send-button:hover {
    -fx-background-color:#ffa85c;
    -fx-font-size: 14.5px;
}

.send-button:pressed {
    -fx-background-color:rgb(29, 28, 25);
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #F2811D;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .track {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 5;
    padding-right: 10;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #F2811D;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

